#
# Ambientes virtuais
#

venv/

#
# Python
#

__pycache__/
*.pyc
*.pyo

#
# Build
#

build/
dist/
*.spec

#
# Saídas do RouteAnalyzer
#

output/
.last_config

#
# IDEs
#

.vscode/
.idea/

#
# Logs
#

*.log