#
# Ambientes virtuais
#

venv/

#
# Python
#

__pycache__/
*.pyc
*.pyo

#
# Build
#

build/
dist/
*.spec

#
# Saídas do RouteAnalyzer
#

reports/
*.pdf

#
# Logs
#

*.log

#
# Arquivos temporários do Windows
#

Thumbs.db
Desktop.ini

#
# IDEs
#

.vscode/
.idea/

#
# Arquivos do GitHub (opcional)
#

*.bak
*.tmp